@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(230, 122, 59);
}
* {
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width: 670px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
footer p {
    text-align: center;
    color: white;
    font-style: italic;
}
@media (max-width: 800px) {
    .container {
        max-width: 620px;
    }
}